.product__item {
	position: relative;
	z-index: 9;
     overflow: hidden;
     &:hover{
          .product__icon_action{
               display: flex;
               transform: translateX(-20%);
          }

     }
     .product__icon_action{
          position: absolute;
          top: 20%;
          right: 0;
          transform: translateX(100%);
          display: flex;
          flex-direction: column;
          transition: all .4s linear;
          gap : 1rem;
          a{
               font-size: 20px;
               color: #111111;
               background-color: #fff;
               box-shadow: 0 3px 10px rgba(0,0,0,.08);
               border-radius: 50%;
               height: 35px;
               width: 35px;
               text-align: center;
               &:hover{
                    background-color: var(--brown);
                    color: #fff;
               }
          }
     }
     &.sale {
          &::before {
               content: "sale";
               text-transform: uppercase;
               position: absolute;
               color: #fff;
               background: #e12c43;
               font-size: 12px;
               top: 10px;
               text-align: center;
               right: -30px;
               font-family: "SofiaPro", sans-serif;
               font-weight: bold;
               letter-spacing: 1px;
               padding: 5px 12px;
               transform: rotate(45deg);
               width: 110px;
               z-index: 99;
          }
     }
	a {
          
		.image_box {
			overflow: hidden;
			position: relative;
			&.expired {
				&::after {
					content: "expired";
					position: absolute;
					bottom: 0;
					color: red;
					font-size: 16px;
					font-family: "SofiaPro", sans-serif;
					font-weight: bold;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			
		}
		&:hover {
			img {
				transition: transform 1.4s ease-in;
				transform: scale(1.2);
			}
			h5 {
				background-position: right;
			}
		}
		text-decoration: none;
		img {
			width: 100%;
			transition: transform 1s ease-out;
		}
		h5 {
			font-family: "SofiaPro", sans-serif;
			font-size: 16px;
			font-weight: 600;
			color: #111111;
			line-height: 28px;
			background: linear-gradient(257deg, #a83f3fcc, white, transparent);
			background-size: 200% 100%;
			background-position: left;
			transition: background-position 0.8s ease;
			span {
				color: red;
			}
		}
		p {
			font-family: "SofiaPro", sans-serif;
			font-size: 15px;
			font-weight: 700;
			color: var(--brown);
			line-height: 28px;
		}
	}

	.notSale {
		span:nth-child(1) {
			display: none;
		}
	}

	.sale {
		span:nth-child(2) {
			text-decoration: line-through;
			color: #979797;
		}
	}
}
